In [1]:
import pandas as pd

In [2]:
import datacompy

In [3]:
from excel_maker import Support

In [4]:
from postgress_config import PostgressDB

In [5]:
sup = Support()

In [6]:
main_dataframe = pd.read_excel(r'resources\main_dataframe.xlsx')

In [7]:
#df = pd.read_excel(r'resources\doc.xlsx')
#d = datacompy.Compare(main_dataframe,df,join_columns='PATIENT_NAME')
#sup.excel_generator(excel_data=d.df1_unq_rows, page_name="master")

In [8]:
main_dataframe = sup.check_peadiatric(main_dataframe)

In [9]:
main_dataframe

,SERVICE_DATE,PATIENT_ID,EPISODE_ID,PATIENT_NAME,SERVICE_CODE,SERVICE_DESC,PATIENT_TYPE,GROSS_AMOUNT,NET_AMOUNT,DOCTOR_SHARE,DOCTOR_NAME,PHYSICIAN_ID,SOURCE OF DATA,DOCTORS_GROUP,REFERENCE_GROUP
0,04/08/2022,KH1000332735,13966092,Mrs. Aafreen Saifulla Rangooni,PRSN000040,Paediatrican Fe,Twin,3725.0,3725.0,3725.0,Dr.PREETHA JOSHI,41006199,IP Admitting Doc wise rev rep,D,Procedure
1,08/08/2022,KH1000808589,13970832,Mrs. Nilima P,PRSN000040,Paediatrican Fe,Twin,3725.0,3725.0,3725.0,Dr.SANTANU SEN,41007329,IP Admitting Doc wise rev rep,D,Procedure
2,13/08/2022,KH1000818767,13975701,Mrs. Uzma Sayid,PRSN000040,Paediatrican Fe,Twin,3725.0,3725.0,3725.0,Dr.TANU SINGHAL,41006201,IP Admitting Doc wise rev rep,D,Procedure

In [10]:
sup.excel_generator(excel_data=main_dataframe, page_name="main_dataframe")